.innerMessage{
        
    padding:10px;
    border-radius: 10px;
    margin-bottom: 4px;
    white-space: pre-wrap;
    background: var(--ion-color-primary);
    color: #fff;
    
}

.message{

    padding:10px;
    border-radius: 10px;
    margin-bottom:5px;
    white-space:pre-wrap;

}

.sent{

    background: var(--ion-color-primary);
    color:#fff;

}

.recieved{

    background: var(--ion-color-tertiary);
    color:#fff;

}

.time{
    color:#dfdfdf;
    float: right;
    font-size:small;

}

.msgIn{
    width: 100%;
    border:1px solid --ion-color-primary;
    background: #fff;
    resize: none;
    margin-top: 10px;
    margin-left: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top:10px;
    border-radius: 5px;
}

.btnSend{
    --padding-start:0.5em;
    --padding-end:0.5em;
    --padding-top: 1.3em;
}
.day{
    float:right;
    font-size: 15px;
    
}

ion-content {

   --background: none;
   background-image: url("../../assets/bg.jpg");
   background-position: center top;
   background-repeat: no-repeat;
   background-size: cover;
}
